<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>약관</title>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<script>
    window.onload = function () {
        fetch('/sboard/user/terms/json')
            .then(resp => {
                return resp.json()
            })
            .then(data => {
                const terms = document.getElementById('terms');
                const privacy = document.getElementById('privacy');
                terms.innerHTML = data[0].terms;
                privacy.innerHTML = data[0].privacy;
            })
            .catch(err => {
                console.log(err)
            });

        const btnNext = document.getElementById("btnNext");

        const termsCheck = document.getElementById("termsCheck");
        const privacyCheck = document.getElementById("privacyCheck");

            btnNext.onclick = function () {
                if (!termsCheck.checked) {
                    alert("사이트 이용약관 동의 여부를 확인해주십시오")
                    event.preventDefault();
                } else if (!privacyCheck.checked) {
                    alert("개인정보 취급방침 동의 여부를 확인해주십시오")
                    event.preventDefault();
                }
            };

    };
</script>
<body>
    <div id="wrapper">
        <header>
            <h3>Board System</h3>
        </header>
        <main id="user">
            <section class="terms">
                <h2 class="tit">사이트 이용약관</h2>
                <table border="1">                    
                    <tr>
                        <td>
                            <textarea name="terms" id="terms">약관내용</textarea>
                            <label><input type="checkbox" class="terms" id="termsCheck">&nbsp;동의합니다.</label>
                        </td>
                    </tr>
                </table>

                <h2 class="tit">개인정보 취급방침</h2>
                <table border="1">                    
                    <tr>
                        <td>
                            <textarea name="privacy" id="privacy">약관내용</textarea>
                            <label><input type="checkbox" class="privacy" id="privacyCheck">&nbsp;동의합니다.</label>
                        </td>
                    </tr>
                </table>
                
                <div>
                    <a href="/sboard/user/login" class="btn btnCancel">취소</a>
                    <a href="/sboard/user/register" class="btn btnNext" id="btnNext">다음</a>
                </div>

            </section>
        </main>
        <footer>
            <p>
                <span class="copyright">Copyrightⓒ 김철학(개발에반하다.)</span>
                <span class="version">[[${appInfo.appName}]] ver.[[${appInfo.appVersion}]]</span>
            </p>
        </footer>
    </div>    
</body>
</html>